/* @import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600&display=swap");

.App {
  min-height: 100vh;
  display: flex;
  /* background: radial-gradient(#525252, #070606); */
  font-family: "Work Sans", sans-serif;
}
